@import "tailwindcss";

body {
    @apply bg-[#1c2321] text-[#eef1ef];

}

.correct {
    @apply text-white;
}

.wrong {
    @apply text-red-500;
}

.appendedChild {
    @apply text-red-400;
}

.active {
    @apply text-blue-200;
}

@theme {
    --animate-blink: blinking 1s ease-in-out infinite;

    @keyframes blinking {

        0%,
        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}